
@{
    ViewBag.Title = "Danh sách dữ liệu tham chiếu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Linq
@using Ehr.Common.Constraint
@using Ehr.Models
@model IEnumerable<Ehr.Models.Reference>

<style type="text/css">
    .col-sm-4 {
        text-align: right;
        padding-top: 5px;
    }
    .select2-container .select2-selection--single {
        height: calc(2.25rem + 2px);
        padding: .75rem 1rem;
        border: 1px solid #ced4da;
        display: block;
    }

    .select2-container {
        width: 100% !important;
    }

    .select2-selection__arrow {
        padding-top: 2rem;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="card card-default color-palette-box">
              <div class="row card-header" style="border:none;">            
                  <div class="col-sm-6">
                        <h5>                          
                              Danh mục tham chiếu thú nuôi
                            </h5>
                    </div>
                  <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                            <li class="breadcrumb-item active">
                                Danh mục tham chiếu thú nuôi
                            </li>
                        </ol>
                    </div>
              </div>
         </div>
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">        
        <!-- Default box -->
        <div class="card">


            @using (Html.BeginForm("Index", "Reference", FormMethod.Get))
            {
                <div class="card-header">
                    <a href="/Reference/New" class="btn bg-teal btn-sm">
                        <i class="fas fa-plus">
                        </i>
                        Thêm dữ liệu
                    </a>
                    <div class="card-tools">
                        <div class="row">
                            <div class="input-group input-group-sm col-lg-6">
                                <div class="input-group-append">
                                    Kích thước trang&nbsp;
                                </div>
                                @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
                                @Html.Hidden("page", (object)ViewBag.page)
                                @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                                @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                                @Html.Hidden("size", (object)ViewBag.pageSize)
                            </div>
                            <div class="input-group input-group-sm col-lg-6">
                                @Html.TextBox("SearchString", (string)ViewBag.searchValue, new { @class = "form-control", @type = "text", @placeholder = "Tìm..." })
                                @Html.Hidden("page", (object)ViewBag.page)
                                @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                                @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                                @Html.Hidden("size", (object)ViewBag.pageSize)
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            }
            <!-- /.card-tools -->
            <div class="card-body table-responsive p-0 zoom-table">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 1%">
                                            STT
                                        </th>
                                        @Html.Raw(ViewBag.GridHeader)
                                        <th style="width: 15%">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int dem = ViewBag.fromItem;
                                        var pet = "";
                                    }
                                    @foreach (var i in Model)
                                    {
                                        foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListPet)
                                        {
                                            if (item.Value == i.Pet)
                                            {
                                                pet = item.Text;
                                            }
                                        }
                                        <tr>
                                            <td>
                                                @dem
                                                @{dem++;}
                                            </td>

                                            <td>
                                                <a>
                                                    @pet
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    @i.PetNameDetail
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    @i.Week
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    @i.Volume_AVG
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    @i.Volume_Food_AVG
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    @i.Volume_Water_AVG
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    @i.Age_Min - @i.Age_Max
                                                </a>
                                            </td>

                                            <td class="project-actions text-right">
                                                @*<a href="@Url.Action("Detail", new { id = i.Id })" class="btn btn-primary btn-sm">
                        <i class="fas fas fa-folder"></i>
                        <span>Xem</span>
                    </a>*@
                                                <a href="@Url.Action("Edit", new { id = i.Id })" class="btn btn-primary btn-sm">
                                                    <i class="fas fa-pencil-alt">
                                                    </i><span>Sửa</span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.Raw(ViewBag.paging)
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

<div id="ezloader" style="display:none;position:absolute;top:50%;left:50%;padding:2px;">
    <img src="~/Content/img/loader.gif" />
</div>

@Scripts.Render("~/Content/admin-lte/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.js")
@Styles.Render("~/Content/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css")
@{
    var loaderpath = Url.Action("Content/img/loader.gif", "/", null, Request.Url.Scheme);
}
<script>
    var flag = "/Reference/Index"
</script>
<script>
    $(document).ajaxStart(function () {
        $("#ezloader").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $("#ezloader").css("display", "none");
    });

    $(function () {
        $("#form-create-store").submit(function (e) {
            e.preventDefault();
            var serializedForm = $(this).serializeArray();
            console.log(serializedForm);
            var _code = serializedForm.some(val => val.name == "Code" && val.value.trim() !== "");
            var _name = serializedForm.some(val => val.name == "Name" && val.value.trim() !== "");
            var _address = serializedForm.some(val => val.name == "Address" && val.value.trim() !== "");
            var _district = serializedForm.some(val => val.name == "District" && val.value.trim() !== "");
            var _City = serializedForm.some(val => val.name == "Region" && val.value.trim() !== "");
            var _Region = serializedForm.some(val => val.name == "CityRegion.Id" && val.value.trim() !== "");
            var _Customer = serializedForm.some(val => val.name == "Customer.Id" && val.value.trim() !== "");
            if (_code && _name && _address && _district && _Region && _Customer && _City !== "") {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: serializedForm,
                    url: "/Store/CreateStore",
                    success: function (item) {
                        setTimeout(function () {
                            if (item.success) {
                                toastr.success(item.message);
                                window.location.href = window.location.origin + "/Store/Index";
                            } else {
                                toastr.error(item.message);
                            }
                        }, 500);

                    },
                    error: function (err) {
                        setTimeout(function () {
                            toastr.error("Thêm cửa hàng không thành công", "Failed");
                        }, 500);
                        console.log(err);
                    }
                });
            } else {
                if (!_code)
                    toastr.warning("Bạn chưa nhập mã nơi làm việc");
                else if (!_name)
                    toastr.warning("Bạn chưa nhập nơi làm việc");
                else if (!_address)
                    toastr.warning("Bạn chưa nhập Địa chỉ");
                else if (!_district)
                    toastr.warning("Bạn chưa nhập Quận/ Huyện");
                else if (!_City)
                    toastr.warning("Bạn chưa chọn Tỉnh/ Thành");
                else if (!_Region)
                    toastr.warning("Bạn chưa chọn khu vực");
                else if (!_Customer)
                    toastr.warning("Bạn chưa nhập khách hàng");
            }
        });
        
    });
    $("#close").click(function () {
        document.getElementById("form-create-store").reset();
    });
</script>