
@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Ehr.Data.QLTDDBContext db = new Ehr.Data.QLTDDBContext();
    var user = db.Users.Where(x => x.Id == this.User.UserId).FirstOrDefault();
}


@using System.Linq
@using Ehr.Common.Constraint
@using Ehr.Models
@using Ehr.Common.UI;
@using System.ComponentModel.DataAnnotations;
@using Ehr.Auth;
@model IEnumerable<Ehr.Models.Customer>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5>
                        Danh sách khách hàng
                    </h5>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Danh sách khách hàng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    @using (Html.BeginForm("Index", "Customer", FormMethod.Get))
                    {
                        <div class="card-header">
                            <div class="card-tools float-right">
                                <div class="input-group input-group-sm float-right">
                                    <div class="input-group-append" style="margin-top:5px">
                                        Kích thước trang&nbsp;&nbsp;
                                    </div>
                                    @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();", @class = "form-control custom-select", @style = "border-radius:0px;width:55px;" })&nbsp;&nbsp;
                                    @Html.Hidden("page", (object)ViewBag.page)
                                    @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                                    @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                                    @Html.Hidden("size", (object)ViewBag.pageSize)
                                    @Html.TextBox("SearchString", (string)ViewBag.searchValue, new { @class = "form-control", @type = "text", @placeholder = "Tìm...", @style = "border-radius:0px;width:200px" })
                                    @Html.Hidden("page", (object)ViewBag.page)
                                    @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                                    @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                                    @Html.Hidden("size", (object)ViewBag.pageSize)
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- /.card-tools -->
                    <div class="card-body table-responsive p-0 zoom-table">
                        <div class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 1%">
                                                    STT
                                                </th>
                                                @Html.Raw(ViewBag.GridHeader)
                                                <th style="min-width:80px">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int dem = ViewBag.fromItem;
                                            }
                                            @foreach (var i in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @dem
                                                        @{dem++;}
                                                    </td>
                                                    <td>
                                                        @i.Code
                                                    </td>
                                                    <td>
                                                        @i.Name
                                                    </td>
                                                    <td>
                                                        @i.PhoneNumber
                                                    </td>
                                                    <td>
                                                        @i.Address
                                                    </td>

                                                    <td class="project-actions text-right">
                                                        <button onclick="EditAntimi('@i.Id','@i.Code','@i.Name','@i.PhoneNumber','@i.Address')" class="btn btn-success btn-sm">
                                                            <i class="fas fa-pencil-alt">
                                                            </i><span>Sửa</span>
                                                        </button>
                                                        &nbsp;&nbsp;
                                                        @if (user.Roles.Any(x => x.IsRoot == YesNo.YES))
                                                        {
                                                            <button onclick="DeleteRent(@i.Id)" class="btn btn-danger btn-sm">
                                                                <i class="fas fa-trash">
                                                                </i><span>Xoá</span>
                                                            </button>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            @Html.Raw(ViewBag.paging)
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <form id="form-add-customer">
                        <div class="card-body">
                            <input type="hidden" name="Id" id="Id" />
                            <div class="form-group">
                                <label>
                                    Mã khách hàng
                                </label>
                                <input type="text" class="form-control" name="Code" id="Code" placeholder="Mã khách hàng" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Tên khách hàng
                                </label>
                                <input type="text" class="form-control" name="Name" id="Name" placeholder="Nhập tên khách hàng" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Số điện thoại
                                </label>
                                <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber" placeholder="Nhập số điện thoại" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Địa chỉ
                                </label>
                                <input type="text" class="form-control" name="Address" id="Address" placeholder="Nhập địa chỉ" />
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn bg-success float-right">Lưu dữ liệu</button>
                            <button type="button" class="btn  btn-warning" onclick="ResetForm()">Hủy thao tác</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <!-- Default box -->
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

<div id="ezloader" style="display:none;position:absolute;top:50%;left:50%;padding:2px;">
    <img src="~/Content/img/loader.gif" />
</div>

@Scripts.Render("~/Content/admin-lte/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.js")
@Styles.Render("~/Content/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css")
@{
    var loaderpath = Url.Action("Content/img/loader.gif", "/", null, Request.Url.Scheme);
}
<script>
    var flag = "/Customer/Index"
</script>
<script>
    $(document).ajaxStart(function () {
        $("#ezloader").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $("#ezloader").css("display", "none");
    });

    $("#form-add-customer").submit(function (e) {
        e.preventDefault();
        var id = $('#Id').val();
        var name = $('#Name').val();
        var Code = $('#Code').val();
        var PhoneNumber = $('#PhoneNumber').val();
        var Address = $('#Address').val();
        if (name !== "") {
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    Id: id,
                    Code: Code,
                    Name: name,
                    PhoneNumber: PhoneNumber,
                    Address: Address,
                },
                url: "/Customer/AddCustomer",
                success: function (item) {
                    if (item.success) {
                        toastr.success(item.message);
                        ResetForm();
                        setTimeout(function () {
                            window.location.reload();
                        }, 500);
                    } else {
                        toastr.warning(item.message);
                    }
                },
                error: function (err) {
                    setTimeout(function () {
                        toastr.error("Lưu dữ liệu không thành công", "Failed");
                    }, 500);
                    console.log(err);
                }
            });
        } else {
            toastr.warning("Vui lòng nhập tên khách hàng");
        }
    });

    function ResetForm() {
        $('#Id').val('');
        $('#Code').val('');
        $('#Name').val('');
        $('#PhoneNumber').val('');
        $('#Address').val('');
    }

    function EditAntimi(id, code, name, PhoneNumber, Address) {
        console.log(name);
        $('#Id').val(id);
        $('#Code').val(code);
        $('#Name').val(name);
        $('#PhoneNumber').val(PhoneNumber);
        $('#Address').val(Address);
        $("#Name").focus();
    }


    function DeleteRent(id) {
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                Id: id,
            },
            url: "/Customer/DeleteCustomer",
            success: function (item) {
                if (item.success) {
                    toastr.success(item.message);
                    setTimeout(function () {
                        window.location.reload();
                    }, 500);
                } else {
                    toastr.warning(item.message);
                }
            },
            error: function (err) {
                setTimeout(function () {
                    toastr.error("Xoá dữ liệu không thành công", "Failed");
                }, 500);
                console.log(err);
            }
        });
    }

</script>
