
@{
    ViewBag.Title = "Danh sách địa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Linq
@using Ehr.Common.Constraint
@using Ehr.Models
@using Ehr.Common.UI;
@using System.ComponentModel.DataAnnotations;
@using Ehr.Auth;
@model IEnumerable<Ehr.Models.Disk>
<style>
    .select2-container .select2-selection--single {
        height: calc(2.25rem + 2px);
        padding: .75rem 1rem;
        border: 1px solid #ced4da;
        display: block;
    }

    .select2-container {
        width: 100% !important;
    }

    .select2-selection__arrow {
        padding-top: 2rem;
    }
</style>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5>
                        Danh sách đĩa
                    </h5>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Danh sách đĩa</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    @using (Html.BeginForm("Disk", "Disk", FormMethod.Get))
                    {
                        <div class="card-header">
                            <div class="card-tools float-right">
                                <div class="input-group input-group-sm float-right">
                                    <div class="input-group-append" style="margin-top:5px">
                                        Kích thước trang&nbsp;&nbsp;
                                    </div>
                                    @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();", @class = "form-control custom-select", @style = "border-radius:0px;width:55px;" })&nbsp;&nbsp;
                                    @Html.Hidden("page", (object)ViewBag.page)
                                    @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                                    @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                                    @Html.Hidden("size", (object)ViewBag.pageSize)
                                    @Html.TextBox("SearchString", (string)ViewBag.searchValue, new { @class = "form-control", @type = "text", @placeholder = "Tìm...", @style = "border-radius:0px;width:200px" })
                                    @Html.Hidden("page", (object)ViewBag.page)
                                    @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                                    @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                                    @Html.Hidden("size", (object)ViewBag.pageSize)
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- /.card-tools -->
                    <div class="card-body table-responsive p-0 zoom-table">
                        <div class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 1%">
                                                    STT
                                                </th>
                                                @Html.Raw(ViewBag.GridHeader)
                                                <th style="width: 15%">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int dem = ViewBag.fromItem;
                                            }
                                            @foreach (var i in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @dem
                                                        @{dem++;}
                                                    </td>
                                                    @{
                                                        var state = i.Status.GetAttribute<DisplayAttribute>().Name;
                                                        var bg = "";
                                                        if (i.Status == DiskStatus.WAITING)
                                                        {
                                                            bg = "bg-success";
                                                        }
                                                        else if (i.Status == DiskStatus.HOLDING)
                                                        {
                                                            bg = "bg-yellow";
                                                        }
                                                        else
                                                        {
                                                            bg = "bg-red";
                                                        }
                                                    }
                                                    <td>
                                                        @i.Code
                                                    </td>
                                                    <td>
                                                        @i.DiskTitle.Name
                                                    </td>
                                                    <td>
                                                        <span class="badge @bg">@state</span>
                                                    </td>

                                                    <td class="project-actions text-right">
                                                        <button onclick="EditAntimi(@i.Id,'@i.Code','@i.DiskTitle.Id','@i.Status')" class="btn btn-success btn-sm">
                                                            <i class="fas fa-pencil-alt">
                                                            </i><span>Sửa</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            @Html.Raw(ViewBag.paging)
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <form id="form-add-disk">
                        <div class="card-body">
                            <input type="hidden" name="Id" id="Id" />
                            <div class="form-group">
                                <label>
                                    Mã đĩa
                                </label>
                                <input type="text" class="form-control" name="Code" id="Code" placeholder="Nhập mã đĩa" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Tiêu đề
                                </label>
                                <select id="DiskTitle" class="form-control select2-success select2" name="DiskTitle" data-dropdown-css-class="select2-green">
                                    <option value="-1" selected>- Chọn tiêu đề -</option>
                                    @foreach (var item in ViewBag.DiskTitles)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    Trạng thái
                                </label>
                                <div class="form-group clearfix">
                                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListStatus)
                                    {
                                        var cl = "";
                                        var check = "";
                                        if (item.Value == "0")
                                        {
                                            check = "checked";
                                        }
                                        var id = "radioStatus" + item.Value;
                                        <div class="icheck-success d-inline">
                                            <input type="radio" id="@id" value="@item.Value" name="Status" @check>
                                            <label for="@id">
                                                @item.Text
                                            </label>
                                        </div><br /><br />
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="card-footer" style="background-color:white">
                            <button type="submit" class="btn bg-success float-right">Lưu dữ liệu</button>
                            <button type="button" class="btn  btn-warning" onclick="ResetForm()">Hủy thao tác</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <!-- Default box -->
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

<div id="ezloader" style="display:none;position:absolute;top:50%;left:50%;padding:2px;">
    <img src="~/Content/img/loader.gif" />
</div>

@Scripts.Render("~/Content/admin-lte/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.js")
@Styles.Render("~/Content/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css")
@{
    var loaderpath = Url.Action("Content/img/loader.gif", "/", null, Request.Url.Scheme);
}
<script>
    var flag = "/Disk/Disk"
</script>
<script>
    $(document).ajaxStart(function () {
        $("#ezloader").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $("#ezloader").css("display", "none");
    });

    $("#form-add-disk").submit(function (e) {
        e.preventDefault();
        var serializedForm = $(this).serializeArray();
        var id = $('#Id').val();
        var Code = $('#Code').val();
        var DiskTitle = $('#DiskTitle').val();
        var Status = serializedForm[3].value;
        if (Code !== "") {
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    Id: id,
                    Code: Code,
                    IdTitle: DiskTitle,
                    status: Status
                },
                url: "/Disk/AddDisk",
                success: function (item) {
                    if (item.success) {
                        toastr.success(item.message);
                        ResetForm();
                        setTimeout(function () {
                            window.location.reload();
                        }, 500);
                    } else {
                        toastr.warning(item.message);
                    }
                },
                error: function (err) {
                    setTimeout(function () {
                        toastr.error("Lưu dữ liệu không thành công", "Failed");
                    }, 500);
                    console.log(err);
                }
            });
        } else {
            toastr.warning("Vui lòng nhập mã đĩa !");
        }
    });

    function ResetForm() {
        var id = $('#Id').val('');
        $('#DiskTitle').val('-1').trigger('change');
        $("#form-add-disk")[0].reset();
    }

    function EditAntimi(id, Code, IdTitle, Status) {
        console.log(IdTitle);
        $("#form-add-disk")[0].reset();
        var id = $('#Id').val(id);
        var Code = $('#Code').val(Code);
        $('#DiskTitle').val(IdTitle).trigger('change');
        if (Status == 'WAITING') {
            $('#radioStatus0').click();
        }else if (Status == 'RENTING') {

            $('#radioStatus1').click();
        } else {

            $('#radioStatus2').click();
        }
        $("#Code").focus();
    }
</script>
