
@{
    ViewBag.Title = "Danh sách tiêu đề";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Ehr.Data.QLTDDBContext db = new Ehr.Data.QLTDDBContext();
    var user = db.Users.Where(x => x.Id == this.User.UserId).FirstOrDefault();
}
@using System.Linq
@using Ehr.Common.Constraint
@using Ehr.Models
@using Ehr.Common.UI;
@using System.ComponentModel.DataAnnotations;
@using Ehr.Auth;
@model IEnumerable<Ehr.Models.DiskTitle>
<style>
    .select2-container .select2-selection--single {
        height: calc(2.25rem + 2px);
        padding: .75rem 1rem;
        border: 1px solid #ced4da;
        display: block;
    }

    .select2-container {
        width: 100% !important;
    }

    .select2-selection__arrow {
        padding-top: 2rem;
    }
</style>
<div class="modal fade" id="AddTitle" role="dialog" aria-labelledby="AddTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <b> Thông tin tiêu đề</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-add-title">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" name="Id" id="Id" />
                            <div class="form-group">
                                <label>
                                    Tên tiêu đề
                                </label>
                                <input type="text" class="form-control" name="Name" id="Name" placeholder="Nhập tên tiêu đề" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Loại
                                </label>
                                <select id="DiskType" class="form-control select2-success select2" name="DiskType" data-dropdown-css-class="select2-green">
                                    <option value="-1" selected>- Chọn Loại -</option>
                                    @foreach (var item in ViewBag.DiskTypes)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    Mô tả
                                </label>
                                <textarea class="form-control" rows="3" name="Description" id="Description" placeholder="nhập thông tin"></textarea>
                            </div>
                            <div class="form-group">
                                <label>
                                    Trạng thái
                                </label>
                                <div class="form-group clearfix">
                                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListStatus)
                                    {
                                        var cl = "";
                                        var check = "";
                                        if (item.Value != "0")
                                        {
                                            cl = "space";
                                        }
                                        if (item.Value == "0")
                                        {
                                            check = "checked";
                                        }
                                        var id = "radioStatus" + item.Value;
                                        <div class="icheck-success d-inline @cl">
                                            <input type="radio" id="@id" value="@item.Value" name="Status" @check>
                                            <label for="@id">
                                                @item.Text
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Image">15. Hình ảnh tiều đề</label><br />
                                <div class="input-group mb-3">
                                    <input type="file" class="custom-file-input" id="Image" name="Image" onchange="img2Base64(this,'Image_dis','Image_hidden')">
                                    <label class="custom-file-label" for="Image">Tải ảnh lên</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <div>
                                            <div>
                                                <img src="/Images/cd-303303_1280.png" id="Image_dis" style="width:350px;height:350px" />
                                                <input type="hidden" id="Image_hidden" name="Image_img" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn bg-success float-right">Lưu dữ liệu</button>
                    <button type="button" class="btn  btn-warning  " data-dismiss="modal" aria-label="Close">Hủy thao tác</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5>
                        Danh sách tiêu đề
                    </h5>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Danh sách tiêu đề</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="card">
            @using (Html.BeginForm("DiskTitle", "Disk", FormMethod.Get))
            {
                <div class="card-header">
                    <button type="button" class="btn bg-success btn-sm" data-toggle="modal" data-target="#AddTitle">
                        <i class="fas fa-plus">
                        </i>
                        Thêm tiêu đề
                    </button>
                    <div class="card-tools float-right">
                        <div class="input-group input-group-sm float-right">
                            <div class="input-group-append" style="margin-top:5px">
                                Kích thước trang&nbsp;&nbsp;
                            </div>
                            @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();", @class = "form-control custom-select", @style = "border-radius:0px;width:55px;" })&nbsp;&nbsp;
                            @Html.Hidden("page", (object)ViewBag.page)
                            @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                            @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                            @Html.Hidden("size", (object)ViewBag.pageSize)
                            @Html.TextBox("SearchString", (string)ViewBag.searchValue, new { @class = "form-control", @type = "text", @placeholder = "Tìm...", @style = "border-radius:0px;width:200px" })
                            @Html.Hidden("page", (object)ViewBag.page)
                            @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                            @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                            @Html.Hidden("size", (object)ViewBag.pageSize)
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- /.card-tools -->
            <div class="card-body table-responsive p-0 zoom-table">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 1%">
                                            STT
                                        </th>
                                        @Html.Raw(ViewBag.GridHeader)
                                        <th style="min-width:80px">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int dem = ViewBag.fromItem;
                                    }
                                    @foreach (var i in Model)
                                    {
                                    <tr>
                                        <td>
                                            @dem
                                            @{dem++;}
                                        </td>
                                        @{
                                            var state = i.Status.GetAttribute<DisplayAttribute>().Name;
                                            var bg = "";
                                            if (i.Status == TitleStatus.PENDING)
                                            {
                                                bg = "bg-success";
                                            }
                                            else if (i.Status == TitleStatus.CLOSED)
                                            {
                                                bg = "bg-red";
                                            }
                                        }
                                        <td style="width:100px">
                                            <a>
                                                <img src="@i.Image" width="100px" />
                                            </a>
                                        </td>
                                        <td>
                                            @i.Code
                                        </td>
                                        <td>
                                            @i.Name
                                        </td>
                                        <td>
                                            @i.DiskType.Name
                                        </td>
                                        <td>
                                            <span class="badge @bg">@state</span>
                                        </td>

                                        <td class="project-actions text-right">
                                            <button onclick="EditAntimi(@i.Id,'@i.Name','@i.Description','@i.Status','@i.DiskType.Id','@i.Image')" class="btn btn-success btn-sm">
                                                <i class="fas fa-pencil-alt">
                                                </i><span>Sửa</span>
                                            </button>
                                            &nbsp;&nbsp;
                                            @if (user.Roles.Any(x => x.IsRoot == YesNo.YES))
                                            {
                                                <button onclick="DeleteRent(@i.Id)" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash">
                                                    </i><span>Xoá</span>
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.Raw(ViewBag.paging)
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- Default box -->
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

<div id="ezloader" style="display:none;position:absolute;top:50%;left:50%;padding:2px;">
    <img src="~/Content/img/loader.gif" />
</div>

@Scripts.Render("~/Content/admin-lte/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.js")
@Styles.Render("~/Content/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css")
@{
    var loaderpath = Url.Action("Content/img/loader.gif", "/", null, Request.Url.Scheme);
}
<script>
    var flag = "/Disk/DiskTitle"
</script>
<script>
    $(document).ajaxStart(function () {
        $("#ezloader").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $("#ezloader").css("display", "none");
    });

    $("#form-add-title").submit(function (e) {
        e.preventDefault();
        var serializedForm = $(this).serializeArray();
        var Name = serializedForm[1].value;
        console.log(serializedForm);
        if (serializedForm[5].value == "-1") {
            toastr.warning("Vui lòng chọn loại", "Warning");
        } else if (Name !== "") {
            $.ajax({
                type: "POST",
                dataType: "json",
                data: serializedForm,
                url: "/Disk/AddDiskTitle",
                success: function (item) {
                    if (item.success) {
                        toastr.success(item.message);
                        ResetForm();

                        $("#AddTitle").modal('hide');
                        setTimeout(function () {
                            window.location.reload();
                        }, 500);
                    } else {
                        toastr.warning(item.message);
                    }
                },
                error: function (err) {
                    setTimeout(function () {
                        toastr.error("Lưu dữ liệu không thành công", "Failed");
                    }, 500);
                    console.log(err);
                }
            });
        } else {
            toastr.warning("Vui lòng nhập tên tiêu đề !");
        }
    });

    function ResetForm() {
        var id = $('#Id').val('');
        $("#form-add-title")[0].reset();
        $("#Image_dis").attr("src", "/Images/cd-303303_1280.png");
    }
    $("#AddTitle").on('hide.bs.modal', function () {
        ResetForm();
    });
    function EditAntimi(id, Name,Description, Status, IdType,Image) {
        $("#form-add-title")[0].reset();
        $("#AddTitle").modal('show');
        var id = $('#Id').val(id);
        var Name = $('#Name').val(Name);
        var Description = $('#Description').val(Description);
        $("#Image_dis").attr("src", Image);
        $('#DiskType').val(IdType).trigger('change');
        if (Status == 'PENDING') {
            $('#radioStatus0').click();
        } else {

            $('#radioStatus1').click();
        }
        $("#Code").focus();
    }


    function DeleteRent(id) {
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                Id: id,
            },
            url: "/Disk/DeleteDiskTitle",
            success: function (item) {
                if (item.success) {
                    toastr.success(item.message);
                    setTimeout(function () {
                        window.location.reload();
                    }, 500);
                } else {
                    toastr.warning(item.message);
                }
            },
            error: function (err) {
                setTimeout(function () {
                    toastr.error("Xoá dữ liệu không thành công", "Failed");
                }, 500);
                console.log(err);
            }
        });
    }
</script>
