
@{
    ViewBag.Title = "Thuê đĩa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Ehr.Data.QLTDDBContext db = new Ehr.Data.QLTDDBContext();
    var user = db.Users.Where(x => x.Id == this.User.UserId).FirstOrDefault();
    var datenow = DataConverter.DateTime2UI_Full(DateTime.Now);
}
@using System.Linq
@using Ehr.Common.Constraint
@using Ehr.Models
@using Ehr.Common.UI;
@using System.ComponentModel.DataAnnotations;
@using Ehr.Auth;
@model IEnumerable<Ehr.Models.Rent>
<style>
    .select2-container .select2-selection--single {
        height: calc(2.25rem + 2px);
        padding: .75rem 1rem;
        border: 1px solid #ced4da;
        display: block;
    }

    .select2-container {
        width: 100% !important;
    }

    .select2-selection__arrow {
        padding-top: 2rem;
    }
</style>
<div class="modal fade" id="AddTitle" role="dialog" aria-labelledby="AddTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <b> Thông tin phiếu thuê</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-add-title">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" class="form-control" name="Id" id="Id" />
                            <div class="form-group">
                                <label>Ngày thuê </label>
                                <div class="input-group-prepend" title="Nhấn vào icon để xóa">
                                    <input type="text" id="RentDate" name="RentDate" value="@datenow" class="form-control ez-date-isnull-full">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    Mã phiếu thuê
                                </label>
                                <input type="text" class="form-control" name="Code" id="Code" placeholder="Nhập mã phiếu thuê" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Số ngày thuê
                                </label>
                                <input type="number" class="form-control" name="RentLenght" id="RentLenght" placeholder="Nhập số ngày thuê" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Khách hàng
                                </label>
                                <select id="Customer" class="form-control select2-success select2" name="Customer" data-dropdown-css-class="select2-green">
                                    <option value="-1" selected>- Chọn khách hàng -</option>
                                    @foreach (var item in ViewBag.Customer)
                                    {
                                        <option value="@item.Id">@item.Code - @item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Chi tiết đĩa thuê
                        </label>
                        <div class="row">
                            <div class="col-md-6">
                                <select id="DiskTitle" class="form-control select2-success select2" name="DiskTitle" data-dropdown-css-class="select2-green">
                                    <option value="-1" selected>- Chọn tiêu đề -</option>
                                    @foreach (var item in ViewBag.DiskTitles)
                                    {
                                        <option value="@item.Id">@item.Code - @item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-5">
                                <select id="DiskId" class="form-control select2-success select2" name="DiskId" data-dropdown-css-class="select2-green">
                                    <option value="-1" selected>- Chọn đĩa -</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-success" onclick="DiskChoose();"><i class="fa fa-arrow-alt-circle-down"></i> </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0" style="background-color:#ffffff;max-height:200px;overflow-y: auto;">
                                    <table class="table table-hover table-head-fixed">
                                        <thead>
                                            <tr>
                                                <th>Mã đĩa</th>
                                                <th>Tên</th>
                                                <th>Thể loại</th>
                                                <th>Giá</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="body-diskchoose"></tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn bg-success float-right">Lưu dữ liệu</button>
                    <button type="button" class="btn  btn-warning  " data-dismiss="modal" aria-label="Close">Hủy thao tác</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5>
                        Thuê đĩa
                    </h5>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Thuê đĩa</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="card">
            @using (Html.BeginForm("Rent", "RentDisk", FormMethod.Get))
            {
                <div class="card-header">
                    <button type="button" class="btn bg-success btn-sm" data-toggle="modal" data-target="#AddTitle">
                        <i class="fas fa-plus">
                        </i>
                        Lập phiếu thuê
                    </button>
                    <div class="card-tools float-right">
                        <div class="input-group input-group-sm float-right">
                            <div class="input-group-append" style="margin-top:5px">
                                Kích thước trang&nbsp;&nbsp;
                            </div>
                            @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();", @class = "form-control custom-select", @style = "border-radius:0px;width:55px;" })&nbsp;&nbsp;
                            @Html.Hidden("page", (object)ViewBag.page)
                            @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                            @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                            @Html.Hidden("size", (object)ViewBag.pageSize)
                            @Html.TextBox("SearchString", (string)ViewBag.searchValue, new { @class = "form-control", @type = "text", @placeholder = "Tìm...", @style = "border-radius:0px;width:200px" })
                            @Html.Hidden("page", (object)ViewBag.page)
                            @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                            @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                            @Html.Hidden("size", (object)ViewBag.pageSize)
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- /.card-tools -->
            <div class="card-body table-responsive p-0 zoom-table">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 1%">
                                            STT
                                        </th>
                                        @Html.Raw(ViewBag.GridHeader)
                                        <th style="width: 15%">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int dem = ViewBag.fromItem;
                                    }
                                    @foreach (var i in Model)
                                    {
                                        <tr>
                                            <td>
                                                @dem
                                                @{dem++;}
                                            </td>
                                            @{
                                                var datea = DataConverter.DateTime2UI_Full(i.RentDate);
                                                var state = i.Status.GetAttribute<DisplayAttribute>().Name;
                                                var bg = "";
                                                if (i.Status == RentStatus.RENTING)
                                                {
                                                    bg = "bg-warning";
                                                }
                                                if (i.Status == RentStatus.WAITING)
                                                {
                                                    bg = "bg-success";
                                                }
                                                if (i.Status == RentStatus.PENDING)
                                                {
                                                    bg = "bg-primary";
                                                }
                                                else if (i.Status == RentStatus.DONE)
                                                {
                                                    bg = "bg-success";
                                                }
                                            }
                                            <td>
                                                @i.Code
                                            </td>
                                            <td>
                                                @datea
                                            </td>
                                            <td>
                                                @i.Customer.Name
                                            </td>
                                            <td>
                                                <span class="badge @bg">@state</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <button onclick="EditRent(@i.Id)" class="btn btn-success btn-sm">
                                                    <i class="fas fa-pencil-alt">
                                                    </i><span>Chi tiết</span>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.Raw(ViewBag.paging)
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- Default box -->
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

<div id="ezloader" style="display:none;position:absolute;top:50%;left:50%;padding:2px;">
    <img src="~/Content/img/loader.gif" />
</div>

@Scripts.Render("~/Content/admin-lte/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.js")
@Styles.Render("~/Content/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css")
@{
    var loaderpath = Url.Action("Content/img/loader.gif", "/", null, Request.Url.Scheme);
}
<script>
    var flag = "/RentDisk/Rent"
</script>
<script>
$(document).ajaxStart(function () {
        $("#ezloader").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $("#ezloader").css("display", "none");
    });

    var lsRentDetail = [];

    $("#form-add-title").submit(function (e) {
        e.preventDefault();
        var serializedForm = $(this).serializeArray();
        console.log(serializedForm);
        var Id = $("#Id").val();
        var Code = $("#Code").val();
        var RentLenght = $("#RentLenght").val();
        var RentDate = serializedForm[1].value;
        var date = RentDate.substring(0, 2);
        var month = RentDate.substring(3, 5);
        var year = RentDate.substring(6, 10);
        var newrentdate = month + "/" + date + "/" + year
        var CustomerId = $("#Customer").val();
        var rent = new Rent(Id, Code, RentLenght, newrentdate);
        if (Code !== "") {
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    rent: rent,
                    customerId: CustomerId,
                    rents: lsRentDetail
                },
                url: "/RentDisk/AddRent",
                success: function (item) {
                    if (item.success) {
                        toastr.success(item.message);
                        ResetForm();
                        setTimeout(function () {
                            window.location.reload();
                        }, 500);
                        $("#AddTitle").modal('hide');
                    } else {
                        toastr.warning(item.message);
                    }
                },
                error: function (err) {
                    setTimeout(function () {
                        toastr.error("Lưu dữ liệu không thành công", "Failed");
                    }, 500);
                    console.log(err);
                }
            });
        } else {
            toastr.warning("Vui lòng nhập mã phiếu thuê !");
        }
    });

    function ResetForm() {
        $('#Id').val('');
        $('#Customer').val("-1").trigger('change');
        $('#DiskTitle').val("-1").trigger('change');
        $('#DiskId').val("-1").trigger('change');
        $("#body-diskchoose").html('');
        $("#form-add-title")[0].reset();
    }
    $("#AddTitle").on('hide.bs.modal', function () {
        ResetForm();
    });
    var idtemp = -1;

    $("#DiskTitle").change(function () {
        var disktitle = $("#DiskTitle").val();
        $('#DiskId').find('option').not(':first').remove();
        if (disktitle != "-1" && disktitle != "") {
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    Id: disktitle,
                    rents: lsRentDetail
                },
                url: "/RentDisk/LoadDiskByTitle",
                success: function (item) {
                    if (item != null) {
                        $("#DiskId").select2({
                            miniumInputLength: 2,
                            data: item
                        });
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    function EditRent(id) {
        $("#form-add-title")[0].reset();
        $("#body-diskchoose").html('');
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                Id: id
            },
            url: "/RentDisk/GetRent",
            success: function (item) {
                if (item.success) {
                    $('#Id').val(item.Data.Id);
                    $('#Code').val(item.Data.Code);
                    $('#RentLenght').val(item.Data.RentLenght);
                    $('#RentDate').val(item.Data.RentDate);
                    $('#Customer').val(item.Data.CustomerId).trigger('change');
                    $("#Code").focus();
                    for (var i = 0; i < item.RentDetails.length; i++) {
                        var rentde = item.RentDetails[i];
                        var rentview = new RentViewModel(rentde.Id, rentde.DiskId, item.DiskCode, item.DiskName, item.TypeName, item.Prices);
                        lsRentDetail.push(rentview);
                        var html = GetHtml(rentde);
                        $("#body-diskchoose").append(html);
                    }
                    $("#AddTitle").modal('show');
                } else {
                    toastr.warning(item.message);
                }
            },
            error: function (err) {
                setTimeout(function () {
                    toastr.error("Không tìm thấy phiếu thuê !", "Failed");
                }, 500);
                console.log(err);
            }
        });
    }
    function DiskChoose() {
        var DiskId = $('#DiskId').val();
        if (DiskId != "" && DiskId != "-1") {
            $.ajax({
                type: "GET",
                dataType: "json",
                data: {
                    Id: DiskId
                },
                url: "/RentDisk/GetDisk",
                success: function (item) {
                    var rentview = new RentViewModel(idtemp, DiskId, item.Data.DiskCode, item.Data.DiskName, item.Data.TypeName, item.Data.Prices);
                    lsRentDetail.push(rentview);
                    var html = GetHtml(rentview);
                    $("#body-diskchoose").append(html);
                    $('#DiskId').val("-1").trigger('change');
                    $('#DiskTitle').trigger('change');
                    idtemp--;
                },
                error: function (err) {
                    setTimeout(function () {
                        toastr.error("Đã có lỗi xảy ra", "Failed");
                    }, 500);
                    console.log(err);
                }
            });
        } else {
            toastr.warning("Vui lòng chọn đĩa", "Note");
        }

    }

    function RentViewModel(Id, DiskId, DiskCode, DiskName, TypeName, Prices) {
        this.Id = Id;
        this.DiskId = DiskId;
        this.DiskCode = DiskCode;
        this.DiskName = DiskName;
        this.TypeName = TypeName;
        this.Prices = Prices;
    }


    function Rent(Id, Code, RentLenght, RentDate) {
        this.Id = Id;
        this.Code = Code;
        this.RentLenght = RentLenght;
        this.RentDate = RentDate;
    }

    function GetHtml(rentdetail) {
        var html = '';
        html += '<tr id="tran_' + rentdetail.Id + '">';
        html += '<td>' + rentdetail.DiskCode + '</td>';
        html += '<td>' + rentdetail.DiskName + '</td>';
        html += '<td>' + rentdetail.TypeName + '</td>';
        html += '<td>' + rentdetail.Prices + '</td>';
        html += '  <td>  <button type="button" class="btn btn-sm btn-outline-danger" onclick="DeleteRentDetail(' + rentdetail.Id + ')"><i class="fa fa-trash" aria-hidden="true"></i></button></td>';
        html += '</tr>'
        return html;
    }

    function DeleteRentDetail(Id) {
        $('#tran_' + Id).remove();
    }
</script>
