@{
    /**/
    ViewBag.Title = "Nhập thông tin sản phẩm";
    var datenow = DataConverter.DateTime2UI_Lite(DateTime.Now);
}
@using Ehr.Common.Constraint
@using Ehr.Models
@using Ehr.Common.UI;
@using System.ComponentModel.DataAnnotations;
@using Ehr.Auth;
<style type="text/css">
    .col-md-4 {
        text-align: right;
        padding-top: 5px;
    }

    .card-tille-cus {
        font-weight: 600;
        font-size: large
    }

    b {
        color: red;
    }

    .space {
        margin-left: 15px
    }

    .h5-header {
        font-weight: 900;
        color: #ff6a00;
    }

    .fixed_button {
        position: fixed;
        top: 200px;
        width: 45px;
        height: 45px; /*height: auto;*/
        right: 30px;
        border-radius: 10px; /* Rounded corners */
        border: 2px solid #bababa;
        color: #bababa;
        z-index: 99;
        text-align: center;
        line-height: 1.40em;
        background-color: transparent;
        font-size: 20px; /* Increase font size */
    }

    #header-a {
        color: #bababa;
        margin-bottom: 5px
    }

    #row-header {
        height: 30px;
        width: 30px;
    }

    #ddmnr {
        width: 300px;
        margin-top: 10px;
        height: 350px;
        border: 1px solid #bababa;
        border-radius: 5px
    }

    #closealls:hover {
        background-color: #007bff;
        color: #ffffff;
    }

    .select2-container .select2-selection--single {
        height: calc(2.25rem + 2px);
        padding: .75rem 1rem;
        border: 1px solid #ced4da;
        display: block;
    }

    .select2-container {
        width: 100% !important;
    }

    .select2-selection__arrow {
        padding-top: 2rem;
    }

    .modal-dialog {
        position: fixed;
        margin: auto;
        height: auto;
        right: 0px;
    }

    .modal-content {
        height: 100%;
    }

    .header-modal {
        border-bottom: 1px solid #14a33e;
        -webkit-box-shadow: 0px 0px 23px -10px rgba(8,206,4,0.5);
        box-shadow: 0px 0px 23px -10px rgba(8,206,4,0.5);
    }

    .modal-backdrop {
        display: none;
    }

    .pb {
        color: #007bff
    }

    .tb {
        color: #ff6a00
    }
</style>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4>Nhập thông tin sản phẩm</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                        <li class="breadcrumb-item active"><a href="/Product/Index">Danh mục sản phẩm</a></li>
                        <li class="breadcrumb-item active">Nhập thông tin sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">


        <form id="form-create-product">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label>Ngày thu thập thông tin </label>
                        <div class="input-group-prepend" title="Nhấn vào icon để xóa">
                            <span class="input-group-text" onclick="clearDate('TimeLine')"><i class="far fa-calendar-alt"></i></span>
                            <input type="text" name="CollectedDate" value="@datenow" class="form-control ez-date-isnull-full" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>1. Nguôn gốc sản phẩm <b>*</b></label><i>(Chỉ đánh dấu một ô)</i>
                        <div class="form-group clearfix">
                            @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListOrigin)
                            {
                                var cl = "";
                                if (item.Value != "0")
                                {
                                    cl = "space";
                                }
                                var id = "radio" + item.Value + "_A1";
                                <div class="icheck-success d-inline @cl">
                                    <input type="radio" id="@id" value="@item.Value" name="ProductOrigin">
                                    <label for="@id">
                                        @item.Text
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label>2. Mã sản phẩm <b>*</b></label><br />
                        <i>
                            Nhập thông tin code sản phẩm đã đăng ký như trong danh sách. Nếu sản phẩm không có code đăng ký thì sử
                            dụng code sau"NO_tencongty_maso" với NO là ký hiệu chung cho sản phẩm không có số đăng ký, tên công ty
                            viết đầy đủ, mã số từ 001 tới 100. Ví dụ NO_Biopharmachemie_001.
                        </i> <br /> <br />
                        <input type="text" class="form-control" name="ProductCode" id="ProductCode" placeholder="VD: NO_Biopharmachemie_001" />
                    </div>
                    <div class="form-group">
                        <label>3. Tên sản phẩm <b>*</b></label><br />
                        <input type="text" class="form-control" name="ProductName" id="ProductName" placeholder="Nhập tên sản phẩm" />
                    </div>
                    <div class="form-group">
                        <label>4. Công ty <b>*</b></label><br />
                        <input type="text" class="form-control" name="Company" id="Company" placeholder="Nhập tên công ty đăng ký sản phẩm" />
                    </div>
                    <div class="form-group">
                        <label>5. Dạng sản phẩm <b>*</b></label><i>(Chỉ đánh dấu một ô)</i><br />
                        @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListType)
                        {
                            var cl = "";
                            if (item.Value != "0")
                            {
                                cl = "space";
                            }
                            var id = "radio" + item.Value + "_A5";
                            <div class="icheck-success d-inline @cl">
                                <input type="radio" id="@id" value="@item.Value" name="TypeOfProduct">
                                <label for="@id">
                                    @item.Text
                                </label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label>6. Các thành phần khác trong sản phấm <b>*</b></label><i>(Chỉ đánh dấu một ô)</i><br />
                        <i>
                            Chọn "Có" nếu sản phẩm chứa chất khác ngoài kháng sinh. Chọn "Không" nếu sản phẩm chỉ chứa kháng sinh.
                            Các chất khác bao gồm vitamin, khoáng bổ sung thêm trong sản phẩm. Tá dược không được tính là chất khác
                        </i><br /><br />
                        @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListYesNo)
                        {
                            var cl = "";
                            if (item.Value != "0")
                            {
                                cl = "space";
                            }
                            var id = "radio" + item.Value + "_A6";
                            <div class="icheck-success d-inline @cl">
                                <input type="radio" id="@id" value="@item.Value" name="Other_Subtance_In_Product">
                                <label for="@id">
                                    @item.Text
                                </label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label>7. Trọng lượng/thể tích sản phẩm <b>*</b></label><br />
                        <i>
                            Điền thông tin khối lượng/trọng lượng/thể tích của sản phẩm tìm thấy, chỉ điền số. Nếu sản phẩm có nhiều
                            khối lượng thì ưu tiên 1 là điền thông tin khối lượng/trọng lượng/thể tích theo đúng thông tin trên nhãn.
                            Thông tin này sẽ dùng để tính toán lại lượng kháng sinh trong 1 đơn vị sản phẩm. Trường hợp sản phẩm có
                            nhiều khối lượng thì bổ sung thông tin về các khối lượng khác trong mục A9.
                        </i><br /><br />
                        <input type="text" class="form-control" name="Volume_Of_product" id="Volume_Of_product" placeholder="Nhập khối lượng" />
                    </div>
                    <div class="form-group">
                        <label>
                            8. Đơn vị của trọng lượng/ thể tích sản phẩm
                        </label><i>(Chỉ đánh dấu một ô)</i><br />
                        <i>
                            Điền thông tin về đơn vị của khối lượng/trọng lượng/thể tích của sản phẩm tìm thấy
                        </i> <br /><br />
                        <div class="form-group clearfix">
                            @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListRank)
                            {
                                var cl = "";
                                var check = "";
                                var nulls = "";
                                if (item.Value == "6")
                                {
                                    check = "checked";
                                    nulls = "style=visibility:hidden";
                                }
                                if (item.Value != "0")
                                {
                                    cl = "space";
                                }
                                var id = "radioUnit_Of_Volume_Of_Product" + item.Value;
                                <div class="icheck-success d-inline @cl" @nulls>
                                    <input type="radio" id="@id" value="@item.Value" name="Unit_Of_Volume_Of_Product" @check>
                                    <label for="@id">
                                        @item.Text
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label>9. Các định dạng khối lượng/ thể tích khác của sản phẩm</label><br />
                        <i>
                            Điền thông tin về khối lượng/trọng lượng/thể tích khác tìm thấy. Các số sẽ cách nhau bởi dấu phẩy. Ví dụ
                            10,30,50. Nếu có nhiều khối lượng với đơn vị khác nhau thì các bạn tự động quy đổi ra đơn vị tương ứng với
                            đơn vị đã chọn ở ô A8.
                        </i><br /><br />
                        <textarea class="form-control" rows="3" name="Other_Volume_Of_Product" id="Other_Volume_Of_Product" placeholder="Nhập các trọng lượng khác của sản phẩm theo đơn vị phía trên ví dụ: 30, 50, 100 ..."></textarea>
                    </div>

                    <div class="form-group">
                        <label>10. Có chứa chất ma túy không? <b>*</b></label><br />
                        @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListYesNo)
                        {
                            var cl = "";
                            if (item.Value != "0")
                            {
                                cl = "space";
                            }
                            var id = "radio" + item.Value + "IsDope";
                            <div class="icheck-success d-inline @cl">
                                <input type="radio" id="@id" value="@item.Value" name="IsDope">
                                <label for="@id">
                                    @item.Text
                                </label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label>11. Có chứa kháng sinh hay không? <b>*</b></label><br />
                        @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListYesNo)
                        {
                            var cl = "";
                            if (item.Value != "0")
                            {
                                cl = "space";
                            }
                            var id = "radio" + item.Value + "IsAntimicrobial";
                            <div class="icheck-success d-inline @cl">
                                <input type="radio" id="@id" value="@item.Value" name="IsAntimicrobial">
                                <label for="@id">
                                    @item.Text
                                </label>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" id="btnshowantimi" data-target="#AddAnti">Thêm kháng sinh</button>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Tên kháng sinh</th>
                                                <th>Khối lượng</th>
                                                <th>Lượng kháng sinh tỉ lệ</th>
                                                <th>Lượng sản phẩm tương ứng</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="body-antimi"></tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label>12. Các thành phần khác</label><br />
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" id="btnshoworther" data-target="#AddOrther">Thêm thành phần khác</button>

                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Tên thành phần</th>
                                                <th>Khối lượng</th>
                                                <th>Lượng thành phần tỉ lệ</th>
                                                <th>Lượng sản phẩm tương ứng</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="body-orther"></tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>


                    <div class="form-group">
                        <label>13. Thú nuôi</label>( <i class="fa fa-square" style="color:#007bff"></i> Phòng bệnh <i class="fa fa-square" style="color:#ff6a00"></i> Trị bệnh )
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" id="btnshowanimal" data-target="#AddAnimal">Thêm thú nuôi</button>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Thú nuôi</th>
                                                <th class="pb">Lượng sản phẩm</th>
                                                <th class="pb">Lượng thức ăn/nước uống</th>
                                                <th class="pb">Trọng lượng thú</th>
                                                <th class="tb">Lượng sản phẩm</th>
                                                <th class="tb">Lượng thức ăn/nước uống</th>
                                                <th class="tb">Trọng lượng thú</th>
                                                <th style="min-width:100px"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="body-animal"></tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label>14. Nguồn thông tin</label><br /><i>
                            Điền trang web hoàn chỉnh hoặc "vetshop" (nếu đi điều tra tại cửa hàng thuốc) hoặc "pharmaceutical
                            company" (nếu lấy thông tin từ những người làm việc ở công ty) tương ứng.
                        </i><br /><br />
                        <input class="form-control" type="text" name="Source_of_information" id="Source_of_information" placeholder="Nhập nguồn thông tin" />
                    </div>
                    <div class="form-group">
                        <label for="F_2__Picture_of_product">15. Hình ảnh sản phẩm</label><br /><i>
                            Cập nhật hình ảnh của sản phẩm để lưu trữ cho cơ sở dữ liệu. Lưu ý chỉ các file hình ảnh và pdf mới có thể
                            được tải lên hệ thống. Tên của file cần thống nhất dưới dạng sau "tên công ty_tên sản phẩm" để tiện cho
                            việc kiểm tra chéo thông tin. Ví dụ biopharmachemie_Bio Ampro600. Tạm thời mình đặt chức năng này là
                            không bắt buộc tuy nhiên các bạn nhớ là luôn luôn cập nhật ảnh của sản phẩm nhé.
                        </i><br />
                        <div class="input-group mb-3">
                            <input type="file" class="custom-file-input" id="Picture_of_product" name="Picture_of_product" onchange="img2Base64(this,'Picture_of_product_dis','Picture_of_product_hidden')">
                            <label class="custom-file-label" for="Picture_of_product">Tải ảnh lên</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-11">
                                <div>
                                    <div>
                                        <img id="Picture_of_product_dis" style="width:100px;height:100px" />
                                        <input type="hidden" id="Picture_of_product_hidden" name="Picture_of_product_img" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>16. Người nhập liệu</label><br /><i>
                            Điền thông tin người nhập liệu để tiện theo dõi
                        </i><br /><br />
                        <input class="form-control" type="text" name="Person_in_charge" id="Person_in_charge" placeholder="Nhập thông tin người nhập liệu" />
                    </div>
                    <div class="form-group">
                        <label>17. Ghi chú thêm (nếu có)</label><br /><i>
                            Điền thông tin liên quan tới sản phẩm khác so với thông tin trong danh sách
                        </i><br /><br />
                        <textarea class="form-control" rows="3" name="Note" id="Note" placeholder="Nhập thông tin"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="#" onclick="window.history.back();" class="btn btn-lg btn-warning float-left" style="width:120px"><i class="fa fa-caret-square-left"></i>&nbsp;Huỷ</a>
                <button type="submit" class="btn btn-lg bg-success float-right" style="width:120px"><i class="fa fa-save">&nbsp;Lưu</i></button>
            </div>
        </form>
    </section>
</div>
<div class="modal fade" id="AddAnti" role="dialog" aria-labelledby="AddAnti" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="form-add-antimi">
                <div class="card">
                    <div class="card-header header-modal">
                        <button type="submit" class="btn bg-success">Lưu dữ liệu</button>
                        <button type="button" class="btn  btn-warning float-right" data-dismiss="modal" aria-label="Close">Hủy thao tác</button>
                    </div>
                    <div class="card-body" style="max-height: calc(100vh - 40px);overflow-y: auto;">
                        <input type="hidden" id="IdAnti" name="IdAnti" />
                        <div class="form-group">
                            <label>
                                Tên kháng sinh <b>*</b>
                            </label><br />
                            <select id="Antimi" class="form-control select2-success select2" name="Antimi" data-dropdown-css-class="select2-green">
                                <option value="-1" selected>- Chọn kháng sinh -</option>
                                @foreach (var item in ViewBag.ListAntimi)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Liều lượng kháng sinh thứ hai trong sản phẩm</label><br />
                            <i>
                                Điền thông tin về lượng kháng sinh trong sản phẩm (chỉ điền số, không điền đơn vị)
                            </i><br /><br />
                            <input type="text" placeholder="vd : 2.5" oninput="replaceName(this)" class="form-control repfloat" name="Strength" id="Strength" placeholder="Nhập liều lượng kháng sinh" />
                        </div>
                        <div class="form-group">
                            <label>
                                Đơn vị của liều lượng kháng sinh
                            </label><i> (Chỉ đánh dấu một ô)</i><br />
                            <div class="form-group clearfix">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListRank)
                                {
                                    var cl = "";
                                    var check = "";
                                    var nulls = "";
                                    if (item.Value == "6")
                                    {
                                        check = "checked";
                                        nulls = "style=visibility:hidden";
                                    }
                                    if (item.Value != "0")
                                    {
                                        cl = "space";
                                    }
                                    var id = "radioUnits" + item.Value;
                                    <div class="icheck-success d-inline @cl" @nulls>
                                        <input type="radio" id="@id" value="@item.Value" name="Units" @check>
                                        <label for="@id">
                                            @item.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Lượng kháng sinh tỉ lệ với lượng sản phẩm
                            </label><br />
                            <i>
                                Quy tắc điền thông tin cho phần B3.4 tới B3.7 vui lòng xem lại thông tin ở phần B2.4
                            </i><br /><br />
                            <input type="text" class="form-control" name="PerAmountOfAnti" id="PerAmountOfAnti" placeholder="Nhập số lượng kháng sinh" />
                        </div>
                        <div class="form-group">
                            <label>
                                Đơn vị của kháng sinh thứ hai
                            </label><i> (Chỉ đánh dấu một ô)</i><br />
                            <div class="form-group clearfix">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListRank)
                                {
                                    var cl = "";
                                    var check = "";
                                    var nulls = "";
                                    if (item.Value == "6")
                                    {
                                        check = "checked";
                                        nulls = "style=visibility:hidden";
                                    }
                                    if (item.Value != "0")
                                    {
                                        cl = "space";
                                    }
                                    var id = "radioUnitsOfPerAmountAnti" + item.Value;
                                    <div class="icheck-success d-inline @cl" @nulls>
                                        <input type="radio" id="@id" value="@item.Value" name="UnitsOfPerAmountAnti" @check>
                                        <label for="@id">
                                            @item.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Lượng sản phẩm tương ứng
                            </label><br />
                            <input type="text" class="form-control" name="PerAmountOfProduct" id="PerAmountOfProduct" placeholder="Nhập lượng sản phẩm" />
                        </div>
                        <div class="form-group">
                            <label>
                                Đơn vị của lượng sản phẩm
                            </label><i> (Chỉ đánh dấu một ô)</i><br />
                            <div class="form-group clearfix">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListRank)
                                {
                                    var cl = "";
                                    var check = "";
                                    var nulls = "";
                                    if (item.Value == "6")
                                    {
                                        check = "checked";
                                        nulls = "style=visibility:hidden";
                                    }
                                    if (item.Value != "0")
                                    {
                                        cl = "space";
                                    }
                                    var id = "radioUnitsOfPerAmountProduct" + item.Value;
                                    <div class="icheck-success d-inline @cl" @nulls>
                                        <input type="radio" id="@id" value="@item.Value" name="UnitsOfPerAmountProduct" @check>
                                        <label for="@id">
                                            @item.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú </label><br />
                            <textarea class="form-control" rows="3" name="NoteAnti" id="NoteAnti" placeholder="Nhập thông tin"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="AddOrther" role="dialog" aria-labelledby="AddOrther" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="form-add-orther">
                <div class="card">
                    <div class="card-header header-modal">
                        <button type="submit" class="btn bg-success">Lưu dữ liệu</button>
                        <button type="button" class="btn  btn-warning float-right" data-dismiss="modal" aria-label="Close">Hủy thao tác</button>
                    </div>
                    <div class="card-body" style="max-height: calc(100vh - 40px);overflow-y: auto;">
                        <input type="hidden" id="IdO" name="IdO" />
                        <div class="form-group">
                            <label>
                                Tên thành phần <b>*</b>
                            </label><br />
                            <input type="text" class="form-control repfloat" name="NameO" id="NameO" placeholder="Nhập tên thành phần" />
                        </div>
                        <div class="form-group">
                            <label>Liều lượng thành phần trong sản phẩm</label><br />
                            <i>
                                Điền thông tin về lượng kháng sinh trong sản phẩm (chỉ điền số, không điền đơn vị)
                            </i><br /><br />
                            <input type="text" placeholder="vd : 2.5" oninput="replaceName(this)" class="form-control repfloat" name="StrengthO" id="StrengthO" />
                        </div>
                        <div class="form-group">
                            <label>
                                Đơn vị của liều lượng thành phần
                            </label><i> (Chỉ đánh dấu một ô)</i><br />
                            <div class="form-group clearfix">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListRank)
                                {
                                    var cl = "";
                                    var check = "";
                                    var nulls = "";
                                    if (item.Value == "6")
                                    {
                                        check = "checked";
                                        nulls = "style=visibility:hidden";
                                    }
                                    if (item.Value != "0")
                                    {
                                        cl = "space";
                                    }
                                    var id = "radioUnitsO" + item.Value;
                                    <div class="icheck-success d-inline @cl" @nulls>
                                        <input type="radio" id="@id" value="@item.Value" name="UnitsO" @check>
                                        <label for="@id">
                                            @item.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Lượng thành phần tỉ lệ với lượng sản phẩm
                            </label><br />
                            <input type="text" class="form-control" name="PerAmountOfAntiO" id="PerAmountOfAntiO" placeholder="Nhập số lượng kháng sinh" />
                        </div>
                        <div class="form-group">
                            <label>
                                Đơn vị của thành phần tỉ lệ
                            </label><i> (Chỉ đánh dấu một ô)</i><br />
                            <div class="form-group clearfix">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListRank)
                                {
                                    var cl = "";
                                    var check = "";
                                    var nulls = "";
                                    if (item.Value == "6")
                                    {
                                        check = "checked";
                                        nulls = "style=visibility:hidden";
                                    }
                                    if (item.Value != "0")
                                    {
                                        cl = "space";
                                    }
                                    var id = "radioUnitsOfPerAmountAntiO" + item.Value;
                                    <div class="icheck-success d-inline @cl" @nulls>
                                        <input type="radio" id="@id" value="@item.Value" name="UnitsOfPerAmountAntiO" @check>
                                        <label for="@id">
                                            @item.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Lượng sản phẩm tương ứng
                            </label><br />
                            <input type="text" class="form-control" name="PerAmountOfProductO" id="PerAmountOfProductO" placeholder="Nhập lượng sản phẩm" />
                        </div>
                        <div class="form-group">
                            <label>
                                Đơn vị của lượng sản phẩm
                            </label><i> (Chỉ đánh dấu một ô)</i><br />
                            <div class="form-group clearfix">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListRank)
                                {
                                    var cl = "";
                                    var check = "";
                                    var nulls = "";
                                    if (item.Value == "6")
                                    {
                                        check = "checked";
                                        nulls = "style=visibility:hidden";
                                    }
                                    if (item.Value != "0")
                                    {
                                        cl = "space";
                                    }
                                    var id = "radioUnitsOfPerAmountProductO" + item.Value;
                                    <div class="icheck-success d-inline @cl" @nulls>
                                        <input type="radio" id="@id" value="@item.Value" name="UnitsOfPerAmountProductO" @check>
                                        <label for="@id">
                                            @item.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú </label><br />
                            <textarea class="form-control" rows="3" name="NoteO" id="NoteO" placeholder="Nhập thông tin"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="AddAnimal" role="dialog" aria-labelledby="AddAnimal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="form-add-animal">
                <div class="card">
                    <div class="card-header header-modal">
                        <button type="submit" class="btn bg-success">Lưu dữ liệu</button>
                        <button type="button" class="btn  btn-warning float-right" data-dismiss="modal" aria-label="Close">Hủy thao tác</button>
                    </div>
                    <div class="card-body" style="max-height: calc(100vh - 40px);overflow-y: auto;">

                        <input type="hidden" id="IdAni" name="IdAni" />
                        <div class="form-group">
                            <label>
                                Chọn thú nuôi<b>*</b>
                            </label><br />
                            <select id="Animal" class="form-control select2-success select2" name="Animal" data-dropdown-css-class="select2-green">
                                <option value="-1" selected>- Chọn thú nuôi -</option>
                                @foreach (var item in ViewBag.ListAnimal)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>


                        <h5 class="h5-header">
                            Pha trộn thuốc phòng bệnh
                        </h5><hr />
                        <div class="form-group">
                            <label>Pha trộn thuốc lượng sản phẩm </label><br />
                            <textarea class="form-control" rows="3" name="PB_Product_preparation__dilution__Product_amount" id="PB_Product_preparation__dilution__Product_amount" placeholder="Nhập thông tin"></textarea>
                        </div>
                        <div class="form-group">
                            <label>
                                Pha trộn thuốc đơn vị sản phẩm
                            </label><i> (Chỉ đánh dấu một ô)</i><br />
                            <div class="form-group clearfix">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListRank)
                                {
                                    var cl = "";
                                    var check = "";
                                    var nulls = "";
                                    if (item.Value == "6")
                                    {
                                        check = "checked";
                                        nulls = "style=visibility:hidden";
                                    }
                                    if (item.Value != "0")
                                    {
                                        cl = "space";
                                    }
                                    var id = "radioPB_Product_preparation_Unit_of_product" + item.Value;
                                    <div class="icheck-success d-inline @cl" @nulls>
                                        <input type="radio" id="@id" value="@item.Value" name="PB_Product_preparation_Unit_of_product" @check>
                                        <label for="@id">
                                            @item.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Pha trộn thuốc_lượng thức ăn/nước uống nhỏ nhất </label><br />
                            <i> Điền số lượng nước hoặc thức ăn tối thiểu cần để trộn với lượng thuốc nói trên</i><br /><br />
                            <input class="form-control" type="text" name="PB_Product_preparation_To_be_added_to__min_" id="PB_Product_preparation_To_be_added_to__min_" placeholder="Nhập lượng nước/thức ăn tối thiểu" />
                        </div>
                        <div class="form-group">
                            <label>Pha trộn thuốc_lượng thức ăn/nước uống lớn nhất </label><br />
                            <i> Điền số lượng nước hoặc thức ăn tối đa cần để trộn với lượng thuốc nói trên</i><br /><br />
                            <input class="form-control" type="text" name="PB_Product_preparation_To_be_added_to__max_" id="PB_Product_preparation_To_be_added_to__max_" placeholder="Nhập lượng nước/thức ăn tối đa" />
                        </div>

                        <div class="form-group">
                            <label>
                                Pha trộn thuốc_đơn vị nước/thức ăn
                            </label><i> (Chỉ đánh dấu một ô)</i><br />
                            <div class="form-group">
                                <div class="form-group clearfix">
                                    <div class="icheck-success d-inline">
                                        <input type="radio" id="radioPB_Product_preparation_Unit_of_water_feed_lit" value="lít nước" name="PB_Product_preparation_Unit_of_water_feed">
                                        <label for="radioPB_Product_preparation_Unit_of_water_feed_lit">lít nước</label>
                                    </div>&nbsp;&nbsp;&nbsp;
                                    <div class="icheck-success d-inline">
                                        <input type="radio" id="radioPB_Product_preparation_Unit_of_water_feed_kg" value="kg" name="PB_Product_preparation_Unit_of_water_feed">
                                        <label for="radioPB_Product_preparation_Unit_of_water_feed_kg">kg</label>
                                    </div>&nbsp;&nbsp;&nbsp;
                                    <div class="icheck-success d-inline">
                                        <input type="radio" id="radioPB_Product_preparation_Unit_of_water_feed_tan" value="tấn" name="PB_Product_preparation_Unit_of_water_feed">
                                        <label for="radioPB_Product_preparation_Unit_of_water_feed_tan">tấn</label>
                                    </div>
                                    <div class="icheck-success d-inline" style="visibility:hidden">
                                        <input type="radio" id="radioPB_Product_preparation_Unit_of_water_feed_null" value="-" name="PB_Product_preparation_Unit_of_water_feed" checked>
                                        <label for="radioPB_Product_preparation_Unit_of_water_feed_null"></label>
                                    </div><br /><br />
                                    &nbsp;<div class="icheck-success d-inline row">
                                        <input type="radio" id="radioPB_Product_preparation_Unit_of_water_feed_k" value="khác" name="PB_Product_preparation_Unit_of_water_feed">
                                        <label for="radioPB_Product_preparation_Unit_of_water_feed_k">mục khác :</label><br />
                                        <input type="text" id="PB_Product_preparation_Unit_of_water_feed_text" class="form-control" style="margin-top:5px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Thời gian sử dụng (nhỏ nhất - lớn nhất)  </label><br /><i>
                                Điền thông tin về ngày sử dụng. Ví dụ như kháng sinh được khuyến cáo sử dụng từ 3 tới 5 ngày thì điền 3-5.
                            </i><br /><br />
                            <textarea class="form-control" rows="3" name="PB_Duration_of_usages" id="PB_Duration_of_usages" placeholder="Nhập thông tin"></textarea>
                        </div>
                        @*-----------J2-----------*@
                        <h5 class="h5-header">
                            Lượng thuốc cần dùng tính theo trọng lượng phòng bệnh
                        </h5><hr />
                        <div class="form-group">
                            <label>Lượng sản phẩm nhỏ nhât</label><br />
                            <input class="form-control" type="text" name="PB_Product_min" id="PB_Product_min" placeholder="Nhập lượng sản phẩm nhỏ nhất" />
                        </div>
                        <div class="form-group">
                            <label>Lượng sản phẩm lớn nhât</label><br />
                            <input class="form-control" type="text" name="PB_Product_max" id="PB_Product_max" placeholder="Nhập lượng sản phẩm lớn nhất" />
                        </div>
                        <div class="form-group">
                            <label>
                                Đơn vị sản phẩm
                            </label><i> (Chỉ đánh dấu một ô)</i><br />
                            <div class="form-group clearfix">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListRank)
                                {
                                    var cl = "";
                                    var check = "";
                                    var nulls = "";
                                    if (item.Value == "6")
                                    {
                                        check = "checked";
                                        nulls = "style=visibility:hidden";
                                    }
                                    if (item.Value != "0")
                                    {
                                        cl = "space";
                                    }
                                    var id = "radioPB_Unit_of_product" + item.Value;
                                    <div class="icheck-success d-inline @cl" @nulls>
                                        <input type="radio" id="@id" value="@item.Value" name="PB_Unit_of_product" @check>
                                        <label for="@id">
                                            @item.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Trọng lượng thú sống (kg)_nhỏ nhất</label><br />
                            <input class="form-control" type="text" name="PB_Per_No__Kg_bodyweight_min" id="PB_Per_No__Kg_bodyweight_min" placeholder="Nhập trọng lượng thú sống nhỏ nhất" />
                        </div>
                        <div class="form-group">
                            <label>Trọng lượng thú sống (kg)_lớn nhất</label><br />
                            <input class="form-control" type="text" name="PB_Per_No__Kg_bodyweight_max" id="PB_Per_No__Kg_bodyweight_max" placeholder="Nhập trọng lượng thú sống lớn nhất" />
                        </div>
                        <div class="form-group">
                            <label>Thời gian sử dụng thuốc</label><br /><i>
                                Số ngày sử dụng thuốc. Điền thông tin dạng số "3" nếu thông tin là sử dụng trong 3 ngày hoặc khoảng số "3-
                                5" nếu thông tin là sử dụng trong khoảng từ 3 tới 5 ngày.
                            </i><br /><br />
                            <textarea class="form-control" rows="3" name="PB_Duration_of_usage" id="PB_Duration_of_usage" placeholder="Nhập thông tin"></textarea>
                        </div>
                        @*-----------J3-----------*@
                        <h5 class="h5-header">
                            Pha trộn thuốc trị bệnh
                        </h5><hr />
                        <div class="form-group">
                            <label>Pha trộn thuốc_lượng sản phẩm </label><br />
                            <textarea class="form-control" rows="3" name="TB_Product_preparation__dilution__Product_amount" id="TB_Product_preparation__dilution__Product_amount" placeholder="Nhập thông tin"></textarea>
                        </div>
                        <div class="form-group">
                            <label>
                                Pha trộn thuốc__đơn vị sản phẩm
                            </label><i> (Chỉ đánh dấu một ô)</i><br />
                            <div class="form-group clearfix">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListRank)
                                {
                                    var cl = "";
                                    var check = "";
                                    var nulls = "";
                                    if (item.Value == "6")
                                    {
                                        check = "checked";
                                        nulls = "style=visibility:hidden";
                                    }
                                    if (item.Value != "0")
                                    {
                                        cl = "space";
                                    }
                                    var id = "radioTB_Product_preparation_Unit_of_product" + item.Value;
                                    <div class="icheck-success d-inline @cl" @nulls>
                                        <input type="radio" id="@id" value="@item.Value" name="TB_Product_preparation_Unit_of_product" @check>
                                        <label for="@id">
                                            @item.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Pha trộn thuốc_lượng thức ăn/nước uống nhỏ nhất </label><br />
                            <i> Điền số lượng nước hoặc thức ăn tối thiểu cần để trộn với lượng thuốc nói trên</i><br /><br />
                            <input class="form-control" type="text" name="TB_Product_preparation_To_be_added_to__min_" id="TB_Product_preparation_To_be_added_to__min_" placeholder="Nhập lượng nước/thức ăn tối thiểu" />
                        </div>
                        <div class="form-group">
                            <label>Pha trộn thuốc_lượng thức ăn/nước uống lớn nhất </label><br />
                            <i> Điền số lượng nước hoặc thức ăn tối đa cần để trộn với lượng thuốc nói trên</i><br /><br />
                            <input class="form-control" type="text" name="TB_Product_preparation_To_be_added_to__max_" id="TB_Product_preparation_To_be_added_to__max_" placeholder="Nhập lượng nước/thức ăn tối đa" />
                        </div>
                        <div class="form-group">
                            <label>
                                Pha trộn thuốc_đơn vị nước/thức ăn
                            </label><i> (Chỉ đánh dấu một ô)</i><br />
                            <div class="form-group">
                                <div class="form-group clearfix">
                                    <div class="icheck-success d-inline">
                                        <input type="radio" id="radioTB_Product_preparation_Unit_of_water_feed_lit" value="lít nước" name="TB_Product_preparation_Unit_of_water_feed">
                                        <label for="radioTB_Product_preparation_Unit_of_water_feed_lit">lít nước</label>
                                    </div>&nbsp;&nbsp;&nbsp;
                                    <div class="icheck-success d-inline">
                                        <input type="radio" id="radioTB_Product_preparation_Unit_of_water_feed_kg" value="kg" name="TB_Product_preparation_Unit_of_water_feed">
                                        <label for="radioTB_Product_preparation_Unit_of_water_feed_kg">kg</label>
                                    </div>&nbsp;&nbsp;&nbsp;
                                    <div class="icheck-success d-inline">
                                        <input type="radio" id="radioTB_Product_preparation_Unit_of_water_feed_tan" value="tấn" name="TB_Product_preparation_Unit_of_water_feed">
                                        <label for="radioTB_Product_preparation_Unit_of_water_feed_tan">tấn</label>
                                    </div>
                                    <div class="icheck-success d-inline" style="visibility:hidden">
                                        <input type="radio" id="radioTB_Product_preparation_Unit_of_water_feed_null" value="-" name="TB_Product_preparation_Unit_of_water_feed" checked>
                                        <label for="radioTB_Product_preparation_Unit_of_water_feed_null"></label>
                                    </div><br /><br />
                                    &nbsp;<div class="icheck-success d-inline row">
                                        <input type="radio" id="radioTB_Product_preparation_Unit_of_water_feed_k" value="khác" name="TB_Product_preparation_Unit_of_water_feed">
                                        <label for="radioTB_Product_preparation_Unit_of_water_feed_k">mục khác :</label><br />
                                        <input type="text" id="TB_Product_preparation_Unit_of_water_feed_text" class="form-control" style="margin-top:5px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Thời gian sử dụng (nhỏ nhất - lớn nhất)  </label><br /><i>
                                Điền thông tin về ngày sử dụng. Ví dụ như kháng sinh được khuyến cáo sử dụng từ 3 tới 5 ngày thì điền 3-5.
                            </i><br /><br />
                            <textarea class="form-control" rows="3" name="TB_Duration_of_usage_MM" id="TB_Duration_of_usage_MM" placeholder="Nhập thông tin"></textarea>
                        </div>
                        @*-----------J4-----------*@
                        <h5 class="h5-header">
                            Lượng thuốc cần dùng tính theo trọng lượng trị bệnh
                        </h5><hr />
                        <div class="form-group">
                            <label>Lượng sản phẩm nhỏ nhât</label><br />
                            <input class="form-control" type="text" name="TB_Product_min" id="TB_Product_min" placeholder="Nhập lượng sản phẩm nhỏ nhất" />
                        </div>
                        <div class="form-group">
                            <label>Lượng sản phẩm lớn nhât</label><br />
                            <input class="form-control" type="text" name="TB_Product_max" id="TB_Product_max" placeholder="Nhập lượng sản phẩm lớn nhất" />
                        </div>
                        <div class="form-group">
                            <label>
                                Đơn vị sản phẩm
                            </label><i> (Chỉ đánh dấu một ô)</i><br />
                            <div class="form-group clearfix">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListRank)
                                {
                                    var cl = "";
                                    var check = "";
                                    var nulls = "";
                                    if (item.Value == "6")
                                    {
                                        check = "checked";
                                        nulls = "style=visibility:hidden";
                                    }
                                    if (item.Value != "0")
                                    {
                                        cl = "space";
                                    }
                                    var id = "radioTB_Unit_of_product" + item.Value;
                                    <div class="icheck-success d-inline @cl" @nulls>
                                        <input type="radio" id="@id" value="@item.Value" name="TB_Unit_of_product" @check>
                                        <label for="@id">
                                            @item.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Trọng lượng thú sống (kg)_nhỏ nhất</label><br />
                            <input class="form-control" type="text" name="TB_Per_No__Kg_bodyweight_min" id="TB_Per_No__Kg_bodyweight_min" placeholder="Nhập trọng lượng thú sống nhỏ nhất" />
                        </div>
                        <div class="form-group">
                            <label>Trọng lượng thú sống (kg)_lớn nhất</label><br />
                            <input class="form-control" type="text" name="TB_Per_No__Kg_bodyweight_max" id="TB_Per_No__Kg_bodyweight_max" placeholder="Nhập trọng lượng thú sống lớn nhất" />
                        </div>
                        <div class="form-group">
                            <label>Thời gian sử dụng thuốc</label><br /><i>
                                Số ngày sử dụng thuốc. Điền thông tin dạng số "3" nếu thông tin là sử dụng trong 3 ngày hoặc khoảng số "3-
                                5" nếu thông tin là sử dụng trong khoảng từ 3 tới 5 ngày.
                            </i><br /><br />
                            <textarea class="form-control" rows="3" name="TB_Duration_of_usage" id="TB_Duration_of_usage" placeholder="Nhập thông tin"></textarea>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div id="ezloader" style="display:none;position:absolute;top:45%;left:45%;padding:5px;">
    <img width="75px" height="75px" src="~/Content/img/loading6.gif" />
</div>
<script src="~/Scripts/product/product.js"></script>
@{
    var loaderpath = Url.Action("Content/img/loading.gif", "/", null, Request.Url.Scheme);
}
<script>
    var flag = "/Product/Index"
</script>
<script>
    $(document).ajaxStart(function () {
        $("#ezloader").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $("#ezloader").css("display", "none");
    });
</script>
<script>

    function replaceName(e) {
        e.value = e.value.replace(/,/g, '.');

        var regex = /^[0-9.,]+$/;

        if (regex.test(e.value) !== true)
            e.value = e.value.replace(/[^0-9.,]+$/, '');
    }

    var idtemp = -1;
    var lsAntimi = [];
    var lsOrtherAB = [];
    var lsAnimalInfor = [];
    var Products = new Product(lsAntimi, lsOrtherAB, lsAnimalInfor);

    $("#form-create-product").submit(function (e) {
        e.preventDefault();
        var serializedForm = $(this).serializeArray();
        console.log(serializedForm);
        console.log('a', Products.lsAnimalInfor);
        console.log('b', Products.lsAntimi);
        console.log('c', Products.lsOrtherAB);
        var productinf = new ProductInfor(null, serializedForm[0].value, serializedForm[1].value, serializedForm[2].value,
            serializedForm[3].value, serializedForm[4].value, serializedForm[5].value, serializedForm[6].value,
            serializedForm[7].value, serializedForm[8].value, serializedForm[9].value, serializedForm[10].value, serializedForm[11].value,
            serializedForm[12].value, serializedForm[13].value, serializedForm[14].value, serializedForm[15].value);
        console.log('d', productinf);
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                product: productinf,
                animals: Products.lsAnimalInfor,
                antimicroBials: Products.lsAntimi,
                ortherABs: Products.lsOrtherAB,
            },
            url: "/Product/AddProduct",
            success: function (item) {
                if (item.success) {
                    toastr.success(item.message);
                    setTimeout(function () {
                        window.location.reload();
                    }, 500);
                } else {
                    toastr.warning(item.message);
                }
            },
            error: function (err) {
                setTimeout(function () {
                    toastr.error("Lưu dữ liệu không thành công", "Failed");
                }, 500);
                console.log(err);
            }
        });
    });

    $("#form-add-antimi").submit(function (e) {
        e.preventDefault();
        var serializedForm = $(this).serializeArray();
        var atiminame = $("#Antimi option:selected").text();
        var newantimi = new Antimi(serializedForm[1].value, atiminame);
        var checkex = Products.CheckAntimiExist(newantimi.Id, serializedForm[0].value);
        if (newantimi.Id <= 0) {
            toastr.warning("Vui lòng chọn kháng sinh !");
        } else if (!checkex) {
            toastr.warning("Kháng sinh đã có, vui lòng chọn loại khác !");
        } else {
            if (serializedForm[0].value != "") {
                var newanticrobial = new AntimicroBial(serializedForm[0].value, newantimi, serializedForm[2].value, serializedForm[3].value, serializedForm[4].value, serializedForm[5].value, serializedForm[6].value, serializedForm[7].value, serializedForm[8].value);
                Products.UpdateAntimi(newanticrobial);
                var html = GetHtmlAntimi(newanticrobial);
                $('#tran_' + serializedForm[0].value).remove();
                $('#body-antimi').append(html);
            } else {
                var newanticrobial = new AntimicroBial(idtemp, newantimi, serializedForm[2].value, serializedForm[3].value, serializedForm[4].value, serializedForm[5].value, serializedForm[6].value, serializedForm[7].value, serializedForm[8].value);
                Products.AddAntimi(newanticrobial);
                var html = GetHtmlAntimi(newanticrobial);
                $('#body-antimi').append(html);
                idtemp--;
            }
            $('#AddAnti').modal('hide');
            formaddantireset();
        }
    });

    $("#form-add-orther").submit(function (e) {
        e.preventDefault();
        var serializedForm = $(this).serializeArray();
        if (serializedForm[0].value != "") {
            var newortherab = new OrtherAB(serializedForm[0].value, serializedForm[1].value, serializedForm[2].value, serializedForm[3].value, serializedForm[4].value, serializedForm[5].value, serializedForm[6].value, serializedForm[7].value, serializedForm[8].value);
            Products.UpdateOrtherAB(newortherab);
            var html = GetHtmlOrther(newortherab);
            $('#tror_' + serializedForm[0].value).remove();
            $('#body-orther').append(html);
        } else {
            var newortherab = new OrtherAB(idtemp, serializedForm[1].value, serializedForm[2].value, serializedForm[3].value, serializedForm[4].value, serializedForm[5].value, serializedForm[6].value, serializedForm[7].value, serializedForm[8].value);
            Products.AddOrtherAB(newortherab);
            var html = GetHtmlOrther(newortherab);
            $('#body-orther').append(html);
            idtemp--;
        }
        $('#AddOrther').modal('hide');
        formadortherreset();
    });

    $("#form-add-animal").submit(function (e) {
        e.preventDefault();
        var serializedForm = $(this).serializeArray();
        var aniamalname = $("#Animal option:selected").text();
        var newaniamal = new Animal(serializedForm[1].value, aniamalname);

        var checkex = Products.CheckAnnimalExist(newaniamal.Id, serializedForm[0].value);
        if (newaniamal.Id <= 0) {
            toastr.warning("Vui lòng chọn thú nuôi !");
        } else if (!checkex) {
            toastr.warning("thú nuôi đã có, vui lòng chọn thú nuôi khác !");
        } else {
            if (serializedForm[0].value != "") {
                var pbwater = serializedForm[6].value;
                var tbwater = serializedForm[18].value;
                if (serializedForm[6].value == "khác") {
                    pbwater = $('#PB_Product_preparation_Unit_of_water_feed_text').val();
                }
                if (serializedForm[18].value == "khác") {
                    tbwater = $('#TB_Product_preparation_Unit_of_water_feed_text').val();
                }
                var newanimalinfor = new AnimalInfor(serializedForm[0].value, newaniamal, serializedForm[2].value,
                    serializedForm[3].value, serializedForm[4].value, serializedForm[5].value,
                    pbwater, serializedForm[7].value, serializedForm[8].value,
                    serializedForm[9].value, serializedForm[10].value, serializedForm[11].value,
                    serializedForm[12].value, serializedForm[13].value, serializedForm[14].value,
                    serializedForm[15].value, serializedForm[16].value, serializedForm[17].value,
                    tbwater, serializedForm[19].value, serializedForm[20].value,
                    serializedForm[21].value, serializedForm[22].value, serializedForm[23].value,
                    serializedForm[24].value, serializedForm[25].value,
                );
                Products.UpdateAnimal(newanimalinfor);
                var html = GetHtmlAnimal(newanimalinfor);
                $('#trni_' + serializedForm[0].value).remove();
                $('#body-animal').append(html);
            } else {
                var pbwater = serializedForm[6].value;
                var tbwater = serializedForm[18].value;
                if (serializedForm[6].value == "khác") {
                    pbwater = $('#PB_Product_preparation_Unit_of_water_feed_text').val();
                }
                if (serializedForm[18].value == "khác") {
                    tbwater = $('#TB_Product_preparation_Unit_of_water_feed_text').val();
                }
                var newanimalinfor = new AnimalInfor(idtemp, newaniamal, serializedForm[2].value,
                    serializedForm[3].value, serializedForm[4].value, serializedForm[5].value,
                    pbwater, serializedForm[7].value, serializedForm[8].value,
                    serializedForm[9].value, serializedForm[10].value, serializedForm[11].value,
                    serializedForm[12].value, serializedForm[13].value, serializedForm[14].value,
                    serializedForm[15].value, serializedForm[16].value, serializedForm[17].value,
                    tbwater, serializedForm[19].value, serializedForm[20].value,
                    serializedForm[21].value, serializedForm[22].value, serializedForm[23].value,
                    serializedForm[24].value, serializedForm[25].value,
                );

                Products.AddAnimal(newanimalinfor);
                var html = GetHtmlAnimal(newanimalinfor);
                $('#body-animal').append(html);
                idtemp--;
            }
            $('#AddAnimal').modal('hide');
            formaddanimalreset();
        }
    });

    function EditAntimi(Id) {
        var antimi = Products.GetAntimiById(Id);
        $("#Antimi option[value='" + antimi.Antimi.Id + "']").attr("selected", "selected");
        $('#IdAnti').val(antimi.Id);
        $('#Strength').val(antimi.Strength);
        $('#PerAmountOfAnti').val(antimi.PerAmountOfAnti);
        $('#PerAmountOfProduct').val(antimi.PerAmountOfProduct);
        $('#NoteAnti').val(antimi.Note);
        $('#radioUnits' + antimi.Units).click();
        $('#radioUnitsOfPerAmountAnti' + antimi.UnitsOfPerAmountAnti).click();
        $('#radioUnitsOfPerAmountProduct' + antimi.UnitsOfPerAmountProduct).click();
        $('#AddAnti').modal('show');
    }

    function EditOrther(Id) {
        var ortherab = Products.GetOrtherById(Id);
        $('#IdO').val(ortherab.Id);
        $('#NameO').val(ortherab.Name);
        $('#StrengthO').val(ortherab.Strength);
        $('#PerAmountOfAntiO').val(ortherab.PerAmountOfAnti);
        $('#PerAmountOfProductO').val(ortherab.PerAmountOfProduct);
        $('#NoteO').val(ortherab.Note);
        $('#radioUnitsO' + ortherab.Units).click();
        $('#radioUnitsOfPerAmountAntiO' + ortherab.UnitsOfPerAmountAnti).click();
        $('#radioUnitsOfPerAmountProductO' + ortherab.UnitsOfPerAmountProduct).click();
        $('#AddOrther').modal('show');
    }

    function EditAnimal(Id) {
        var animal = Products.GetAnimalById(Id);
        $('#IdAni').val(animal.Id);
        $("#Animal option[value='" + animal.Animal.Id + "']").attr("selected", "selected");
        $('#PB_Product_preparation__dilution__Product_amount').val(animal.PB_Product_preparation__dilution__Product_amount);
        console.log('radioPB_Product_preparation_Unit_of_product' + animal.PB_Product_preparation_Unit_of_product);
        $('#radioPB_Product_preparation_Unit_of_product' + animal.PB_Product_preparation_Unit_of_product).click();
        $('#PB_Product_preparation_To_be_added_to__min_').val(animal.PB_Product_preparation_To_be_added_to__min_);
        $('#PB_Product_preparation_To_be_added_to__max_').val(animal.PB_Product_preparation_To_be_added_to__max_);
        //PB_Product_preparation_Unit_of_water_feed
        var radiopbwater = CheckUnitWater('PB_Product_preparation_Unit_of_water_feed', animal.PB_Product_preparation_Unit_of_water_feed);
        $('#' + radiopbwater).click();
        $('#PB_Duration_of_usages').val(animal.PB_Duration_of_usages);
        $('#PB_Product_min').val(animal.PB_Product_min);
        $('#PB_Product_max').val(animal.PB_Product_max);
        $('#radioPB_Unit_of_product' + animal.PB_Unit_of_product).click();
        $('#PB_Per_No__Kg_bodyweight_min').val(animal.PB_Per_No__Kg_bodyweight_min);
        $('#PB_Per_No__Kg_bodyweight_max').val(animal.PB_Per_No__Kg_bodyweight_max);
        $('#PB_Duration_of_usage').val(animal.PB_Duration_of_usage);
        $('#TB_Product_preparation__dilution__Product_amount').val(animal.TB_Product_preparation__dilution__Product_amount);
        $('#radioTB_Product_preparation_Unit_of_product' + animal.TB_Product_preparation_Unit_of_product).click();
        $('#TB_Product_preparation_To_be_added_to__min_').val(animal.TB_Product_preparation_To_be_added_to__min_);
        $('#TB_Product_preparation_To_be_added_to__max_').val(animal.TB_Product_preparation_To_be_added_to__max_);
        //TB_Product_preparation_Unit_of_water_feed
        var radiotbwater = CheckUnitWater('TB_Product_preparation_Unit_of_water_feed', animal.TB_Product_preparation_Unit_of_water_feed);
        $('#' + radiotbwater).click();
        $('#TB_Duration_of_usage_MM').val(animal.TB_Duration_of_usage_MM);
        $('#TB_Product_min').val(animal.TB_Product_min);
        $('#TB_Product_max').val(animal.TB_Product_max);
        $('#radioTB_Unit_of_product' + animal.TB_Unit_of_product).click();
        $('#TB_Per_No__Kg_bodyweight_min').val(animal.TB_Per_No__Kg_bodyweight_min);
        $('#TB_Per_No__Kg_bodyweight_max').val(animal.TB_Per_No__Kg_bodyweight_max);
        $('#TB_Duration_of_usage').val(animal.TB_Duration_of_usage);
        $('#AddAnimal').modal('show');
    }

    function DeleteAntimi(Id) {
        $('#tran_' + Id).remove();
        Products.RemoveAntimi(Id);
    }

    function DeleteOrther(Id) {
        $('#tror_' + Id).remove();
        Products.RemoveOrtherAB(Id);
    }

    function DeleteAnimal(Id) {
        $('#trni_' + Id).remove();
        Products.RemoveAnimal(Id);
    }


    function formaddantireset() {
        $("#Antimi option[value='-1']").attr("selected", "selected");
        $('#IdAnti').val('');
        $("#form-add-antimi")[0].reset();
    }

    function formadortherreset() {
        $('#IdO').val('');
        $("#form-add-orther")[0].reset();
    }

    function formaddanimalreset() {
        $("#Animal option[value='-1']").attr("selected", "selected");
        $('#IdAni').val('');
        $("#form-add-animal")[0].reset();
    }

    function CheckUnitWater(element, text) {
        if (text == "lít nước") {
            return "radio" + element + "_lit";
        } else if (text == "kg") {
            return "radio" + element + "_kg";
        } else if (text == "tấn") {
            return "radio" + element + "_tan";
        } else if (text == "-") {
            return "radio" + element + "_null";
        } else {
            $('#' + element + "_text").val(text);
            return "radio" + element + "_k";
        }
    }

    $('#btnshowantimi').click(function (e) {
        formaddantireset();
    });

    $('#btnshoworther').click(function (e) {
        formadortherreset();
    });

    $('#btnshowanimal').click(function (e) {
        formaddanimalreset();
    });

</script>