
@{
    /**/

    ViewBag.Title = "Cập Nhật Thông Tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model User
@using Ehr.Models;
@using Ehr.Data;
@using Ehr.Common.Constraint;
@using Ehr.Bussiness;

@{
    QLTDDBContext db = new QLTDDBContext();
    string isactive = "";
}
<style>
    .select2-container .select2-selection--single {
        height: calc(2.25rem + 2px);
        padding: .75rem 1rem;
        border: 1px solid #ced4da;
        display: block;
    }

    .select2-container {
        width: 100% !important;
    }

    .select2-selection__arrow {
        padding-top: 2rem;
    }
</style>
<div class="content-wrapper">
     <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5>
                        Cập nhật thông tin người dùng
                    </h5>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                        <li class="breadcrumb-item active"> Cập nhật thông tin người dùng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <b>Cập nhật thông tin </b>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("User_Update", "User", FormMethod.Post, new { @role = "form" }))
                        {
                            <div class="card-body">
                                <input name="id" value="@Model.Id" hidden />
                                <div class="form-group">
                                    <label>Tên đăng nhập</label>
                                    <input name="UserName" value="@Model.Username" class="form-control" readonly placeholder="Tên đăng nhập" required />
                                </div>
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <input name="FullName" value="@Model.FullName" class="form-control" placeholder="Họ và tên" required />
                                </div>
                                <div class="form-group">
                                    <label>Giới tính</label>
                                    <div class="form-group">
                                        @{
                                            var ck1 = "";
                                            var ck2 = "";
                                            var ck3 = "";
                                            if (Model.Gender == "Nam")
                                            {
                                                ck1 = "checked";
                                            }
                                            else if (Model.Gender == "Nữ")
                                            {
                                                ck2 = "checked";
                                            }
                                            else if (Model.Gender == "Khác")
                                            {
                                                ck3 = "checked";
                                            }
                                        }
                                        <div class="form-group clearfix">
                                            <div class="icheck-success d-inline">
                                                <input type="radio" id="Gender1" value="Nam" name="Gender" @ck1>
                                                <label for="Gender1">Nam</label>
                                            </div>&nbsp;&nbsp;&nbsp;
                                            <div class="icheck-success d-inline">
                                                <input type="radio" id="Gender2" value="Nữ" name="Gender" @ck2>
                                                <label for="Gender2">Nữ</label>
                                            </div>&nbsp;&nbsp;&nbsp;
                                            <div class="icheck-success d-inline">
                                                <input type="radio" id="Gender3" value="Khác" name="Gender" @ck3>
                                                <label for="Gender3">Khác</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Địa chỉ email</label>
                                    <input name="Email" value="@Model.Email" class="form-control" placeholder="Email" required />
                                </div>
                                <div class="form-group">
                                    <label>Điện thoại</label>
                                    <input name="PhoneNumber" value="@Model.PhoneNumber" class="form-control" placeholder="Số Điện Thoại" required />
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input name="Address" value="@Model.Address" class="form-control" placeholder="Địa Chỉ" required />
                                </div>
                                <div class="">
                                    @{
                                        var listRole = db.Roles.ToList();
                                    }
                                </div>
                                <div class="col-12">
                                    <label class=" ">Sở hữu nhóm quyền </label>
                                    @{
                                        int tempCount = 0; //biến đếm để chia table ra là 2 cột
                                        string html = "";// xuất giao diện table
                                        string name = " name='Role"; // name của permission cần lấy
                                    }
                                    @foreach (var item in listRole)
                                    {

                                        List<Role> perms = Model.Roles.ToList();
                                        var lstPerms = perms.Where(p => p.Id.Equals(item.Id)).ToList();
                                        string ischecked = (lstPerms.Count > 0) ? "checked='checked'" : "";
                                        if (tempCount % 2 == 0)
                                        {
                                            html += "<tr>";
                                        }
                                        html += "<td><input type='checkbox'" + ischecked + name + item.Id + "'" + "value=" + "'" + item.Id + "'" + "/>" + item.RoleName + "</td>";

                                        if (tempCount % 2 > 0)
                                        {
                                            html += "</tr>";
                                        }

                                        tempCount++;
                                    }
                                    @{
                                        if (tempCount % 2 > 0)
                                        {
                                            html += "<td>&nbsp;</td></tr>";
                                        }
                                    }
                                    @{html = "<table class='table table-bordered'>" + html + "</table>";}
                                    @Html.Raw(html)
                                </div>

                                <div class="form-group">
                                    <label>Được kích hoạt</label>
                                    <div class="float-right">
                                        @if (Model.IsActive == true)
                                        {
                                            isactive = "checked='checked'";
                                        }
                                        <input class="float-right" @isactive id="isActive" name="IsActive" value="true" type="checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success" />
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn bg-success float-right">Lưu dữ liệu</button>
                                <a class="btn btn-warning" href="../../User/Index">Quay Về</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<script>
    var flag = "/User/Index";
</script>





