
@{
    /**/

    ViewBag.Title = "Audit Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Ehr.Data;
@using Ehr.Common.Constraint
@using Ehr.Models
@model IEnumerable<Ehr.Models.LoginAuditTrail>

<style type="text/css">
    .col-sm-4 {
        text-align: right;
        padding-top: 5px;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5>Lịch sử đăng nhập</h5>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Lịch sử đăng nhập</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            @using (Html.BeginForm("Login", "AuditTrail", FormMethod.Get))
            {
                <div class="card-header">
                    <div class="card-tools">
                        <div class="row">
                            <div class="input-group input-group-sm col-lg-6">
                                <div class="input-group-append" style="margin-top:5px">
                                    Kích thước trang&nbsp;&nbsp;
                                </div>
                                @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();", @class = "form-control custom-select", @style = "border-radius:0px" })
                                @Html.Hidden("page", (object)ViewBag.page)
                                @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                                @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                                @Html.Hidden("size", (object)ViewBag.pageSize)
                            </div>
                            <div class="input-group input-group-sm col-lg-6">
                                @Html.TextBox("SearchString", (string)ViewBag.searchValue, new { @class = "form-control", @type = "text", @placeholder = "Tìm ...", @style = "border-radius:0px" })
                                @Html.Hidden("page", (object)ViewBag.page)
                                @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                                @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                                @Html.Hidden("size", (object)ViewBag.pageSize)
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            }
            <div class="card-body table-responsive p-0">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 1%">
                                            #
                                        </th>
                                        @Html.Raw(ViewBag.GridHeader)
                                        <th style="width: 10%;">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tableAudit">
                                    @{
                                        int dem = ViewBag.fromItem;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @dem
                                                @{dem++;}
                                            </td>
                                            <td>
                                                @item.DateTimeStamp
                                            </td>
                                            <td>
                                                @item.Username
                                            </td>
                                            <td>
                                                @if (@item.Status == YesNo.YES)
                                                {
                                                    <p>Thành công</p>
                                                }
                                                else
                                                {
                                                    <p>Không thành công</p>
                                                }
                                            </td>
                                            <td>
                                                @item.IpAddress
                                            </td>
                                            <td class="text-right">
                                                <button class="btn btn-or-cus btn-sm" onclick="showDetail(@item.Id)" data-detail-id="@item.Id" data-toggle="modal" data-target="#myModal">
                                                    <i class="fas fa-folder"></i>
                                                    <span>Xem</span>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.Raw(ViewBag.paging)
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("LoginDetail", "AuditTrail", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-header bg-success">
                    <h5 class="modal-title">Thông tin chi tiết</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <input type="hidden" id="Id" />
                        <div class="col-md-12">
                            <ul class="list-group mb-3">
                                <li class="list-group-item">
                                    <b>Thời gian</b> <br />
                                    <a id="DateTimeStamp"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>Người dùng</b> <br />
                                    <a id="Username"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>Địa chỉ IP</b> <br />
                                    <a id="IpAddress"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>Trạng thái</b> <br />
                                    <a id="Status"> </a>
                                </li>
                                <li class="list-group-item">
                                    <b>Ghi chú</b> <br />
                                    <a id="Note"></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-success" style="width:20%" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    var flag = "/AuditTrail/Login";

    function jsonToDate(date, format) {
        return moment(date).format(format);
    }
    function showDetail(id) {
        if (id) {
            fetch(window.location.origin + "/AuditTrail/LoginDetail/" + id)
                .then(res => res.json())
                .then(data => {
                    var formattedDate = jsonToDate(data.DateTimeStamp, ' h:mm:ss a - DD/MM/YYYY')
                    console.log(data);
                    $("#DateTimeStamp").html(formattedDate);
                    $("#Username").html(data.Username);
                    $("#IpAddress").html(data.IpAddress);
                    $("#Status").html(data.Status);
                    $("#Note").html(data.Note);
                });
        }
    }
</script>